@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
    --bgColor: hsl(233, 47%, 7%);
    --cardBg: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);

    --mainHeaging: hsl(0, 0%, 100%);
    --mainParagraph:  hsl(0, 0%, 100%, 0.75);
    --statHeaging:  hsl(0, 0%, 100%, 0.6);
}

* {
    box-sizing: border-box;
    padding: none;
    margin: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bgColor);
    border: white 1px solid;
    color: var(--mainHeaging);

}